<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowledgebase.backend.dao.UserMapper">

    <resultMap id="UserResultMap" type="User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user` (username, password, email)
        VALUES (#{username}, #{password}, #{email})
    </insert>

    <select id="selectById" parameterType="long" resultMap="UserResultMap">
        SELECT * FROM `user` WHERE id = #{id}
    </select>

    <select id="selectByUsername" parameterType="string" resultMap="UserResultMap">
        SELECT * FROM `user` WHERE username = #{username}
    </select>

    <update id="updateById" parameterType="User">
        UPDATE `user`
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="email != null">email = #{email},</if>
            updated_at = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM `user` WHERE id = #{id}
    </delete>

</mapper>