:root {
    --el-color-primary: #3370ff;
    /* Lark Blue */
    --el-menu-bg-color: #f5f6f7;
    --el-menu-text-color: #1f2329;
    --el-menu-active-color: #3370ff;
}

body {
    background-color: #fff;
    color: #1f2329;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-height {
    height: 100vh;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: #dee0e3;
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}